// margin
@mixin margin-scare($scare) {
    margin: $scare;
}
@mixin mx-scare($scare) {
    margin-left: $scare;
    margin-right: $scare;
}
@mixin my-scare($scare) {
    margin-top: $scare;
    margin-bottom: $scare;
}

.m0{
    @include margin-scare(0);
}
.m1{
    @include margin-scare(0.5em);
}
.m2{
    @include margin-scare(1em);
}

.mx1{
    @include mx-scare(0.5em);
}
.mx2{
    @include mx-scare(1em);
}
.my1{
    @include my-scare(0.5em);
}
.my2{
    @include my-scare(1em);
}

//colum
.row{
    position: relative;
    display: flex;
    justify-content: space-between;
}
@mixin column($width) {
    flex: 1 1 $width;
    
    //float/////////////////////////
    // float: left;
    // width: $width;

    background: #ddd;
    border-style: solid;
    border-width: 1px;
    @include margin-scare(0)
}
.col-6{
    @include column(50%);
}
.col-4{
    @include column(33%);
}
.col-3{
    @include column(25%);
}
.col-2{
    @include column(16%);
}

// flex
.d-f{
    display: flex;
}

.f-y-center{
    align-items: center;
}

.f-x-center{
    justify-content: center;
}